html,

body {
  height:100% ;
width: 100% ; 
  margin: 0px;
  justify-content: center;
  background-size: cover;
}

section {
	display: block;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	height: auto;
}
.grad{
	/*background-image: linear-gradient(-45deg,rgba(22, 22, 159, 0.703), rgba(113, 2, 2, 0.749));
	background-size: cover;*/
}


.bg {
	animation:slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg,#242c68 50%, #5cbb44 50%, #d5dbda 50%);
	bottom:0;
	left:-50%;
	opacity:.5;
	position:fixed;
	right:-50%;
	top:0;
	z-index:-1;
}
  
.bg2 {
	animation-direction:alternate-reverse;
	animation-duration:4s;
}
  
.bg3 {
	animation-duration:5s;
}
  
.content {
	background-color:rgba(255,255,255,.8);
	border-radius:.25em;
	box-shadow:0 0 .25em rgba(0,0,0,.25);
	box-sizing:border-box;
	left:50%;
	padding:10vmin;
	position:fixed;
	text-align:center;
	top:50%;
	transform:translate(-50%, -50%);
}

p {
	margin: 0.25rem !important;
}

a {
	text-decoration: none;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
	object-fit: contain;
}

img.profile-pic {
	height: 30%;
	width: 30%;
	box-shadow: 0px 0px 0px 5px #710202bf;
	border-radius: 50%;
	transition: box-shadow 0.6s linear;
	
	/*box-shadow: 0px 0px 0px 5px #FC5185;

	
	object-fit: cover;*/
}

img.profile-pic:hover {
	box-shadow: 0px 0px 0px 10px #710202bf; 
}

.zoom {
	padding: 50px;
	transition: transform .2s;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.zoom:hover {
	-ms-transform: scale(1.45); /* IE 9 */
	-webkit-transform: scale(1.45); /* Safari 3-8 */
	transform: scale(1.45); 
}


.container {
	margin: 0 auto;
	position: relative;
	height: 100%;
	
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	position: relative;
	height: 100%;
	width: 100%;
}

.col {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
	padding: 0.25rem;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
}

.col.is-1 {
	flex: none;
	width: 10%;
}

.col.is-2 {
	flex: none;
	width: 20%;
}

.col.is-3 {
	flex: none;
	width: 30%;
}

.col.is-4 {
	flex: none;
	width: 40%;
}
.col.is-5 {
	flex: none;
	width: 50%;
}

.col.is-6 {
	flex: none;
	width: 60%;
}

.col.is-7 {
	flex: none;
	width: 70%;
}

.col.is-8 {
	flex: none;
	width: 80%;
}

.col.is-9 {
	flex: none;
	width: 90%;
}

.col.is-10 {
	flex: none;
	width: 100%;
}

.name-title-company {
	height: 100%;
}

.banner {
	height: 30%;
}

.primary-info {
	height: 15%;
}

.secondary-info {
	height: 8%;
	
}

/*.bg-color-grey {
	
}*/

/*.bg-color-white {
	
}*/

.text-name {
    font-family: 'Roboto', helvetica;
    font-weight: 400;
    color:#243473;
    font-size: 18px;
}
 
.text-title-company {
    font-family: 'Lato', helvetica;
    font-weight: 200;
    color: #243473;
    font-size: 18px;
}

.text-detail {
    font-family: 'roboto', helvetica;
	font-weight: 200;
    color: #243473;
    font-size: 18px;
}

.bottom {
	height: 23%;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
        background: $white;
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}


@media screen and (max-width: 450px) {
  img.profile-pic {
    height: 60%;
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  img.profile-pic {
    height: 80%;
    width: 80%;
  }
}

@keyframes slide {
	0% {
	  transform:translateX(-25%);
	}
	100% {
	  transform:translateX(25%);
	}
}
